$color: rgb(0, 0, 139);

ul{
    background-color: lightblue;
    
    a{
        color:$color;
    }
}

p{
    color: $color;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 8px;
}

.p2{
    @extend p;
    color: blue;
}

